<div id="left_navi">
</div>
<div id="content">
  <div><%= current_user.name %></div>
  <div id="article_form">
    <a>投稿を作成</a>
    <a href="" class="prof_icon">あ</a>
    <%= form_with(model: @article, local: true ) do |form| %>
      <%= form.text_area :content, placeholder:"今なにしてる？" %>
      <%= form.submit class:"hiddenBtn" %>
      <a class="article_submit">投稿する</a>
    <% end %>
  </div>
  <div id="logs">
    <ul>
    <% @articles.each do |log| %>
    <li>
      <div class="head">user:<%= @users.find_by(id: log.user_id).name %></div>
      <div class="content">
        <p class="comment"><%= log.content %></p>
      </div>
    </li>
    <% end %>
    </ul>
  </div>
</div>
