<h1>詳細画面</h1>
<div id="article_form" class="box single">
  <div class="column_title">投稿内容</div>
  <a href="" class="prof_icon"></a>
    <%= simple_format(@article.content) %>
    <% if @article.image? %>
    <div id="img_field" >
        <%= image_tag @article.image.url %>
    </div>
    <% end %>
    <div class="article_menu">
      <ul>
        <li><%= link_to "戻る", articles_path %></li>
        <li><%= link_to "編集", edit_article_path(@article.id) %></li>
        <li><%= link_to "削除", article_path(@article.id), method: :delete %></li>
      </ul>
    </div>
</div>
